@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#root .App {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
}

#root .menu-bar {
  width: Calc(100% - 55px);
  background: #fff;
  height: 80px;
  margin: 0 auto;
  border-radius: 0px 0px 16px 16px;
  border: 1px solid #E6E8EC;
  border-top: none;
  box-shadow: 0px 1px 2px 0px #1018280f;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

#root .menu-bar .menu-bar_actions {
  display: flex;
  align-items: center;
  height: 100%;
}

#root .menu-bar .menu-bar_actions .menu-bar_action {
  color: #222222;
  font-size: 16px;
  height: calc(100% - 30px);
  min-width: 90px;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
  position: relative;
}

#root .menu-bar .menu-bar_actions .menu-bar_action:hover {
  background: linear-gradient(52deg, #b52d2d26, #30706e00);
  cursor: pointer;
}

#root .menu-bar .menu-bar_actions .menu-bar_action-select {
  font-weight: 600;
  border-bottom: 2px solid #c40f11;
  padding-top: 31px !important;
  height: calc(100% - 33px) !important;
}

#root .menu-bar .menu-bar_actions .menu-bar_action:not(:last-child) {
  margin-right: 20px;
}

.floating-menu {
  position: absolute;
  min-width: 188px;
  min-height: 171px;
  border-radius: 4px;
  border: 1px solid #E6E8EC;
  background: #FFF;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.40);
  left: 0;
  top: 60px;
  z-index: 2;
}

.floating-menu .floating-menu_item {
  min-width: 188px !important;
  height: 22px;
  display: inline-block;
  color: #353945;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  border-bottom: 1px solid #E4E4E4;
  text-align: initial;
  text-decoration: none;
  padding: 18px 15px;
}

.floating-menu .floating-menu_item:hover {
  background: linear-gradient(52deg, #b52d2d26, #30706e00);
}

.page {
  padding: 42px 20px 20px 20px;
}

.chip {
  border-radius: 13px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  width: max-content;
  padding: 3px 10px;
  color: #6D8798;
  font-size: 14px;
  font-weight: 400;
}

.schedules .schedules_tabs {
  display: flex;
  height: 24px;
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 10px;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.schedules .schedules_tabs .schedules_tab {
  cursor: pointer;
}

.schedules .schedules_tabs .schedules_tab-selected {
  color: #9D1113;
  font-weight: 700;
}

.schedules .schedules_tabs .schedules_tab:not(:last-child) {
  margin-right: 15px;
}

.subjects {
  border-radius: 8px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  padding: 20px;
  min-width: 394px;
  width: max-content;
}

.subjects .subjects_container .subjects_description-action {
  display: flex;
  justify-content: space-between;
}

.subjects .subjects_container .subjects_description-action .subjects_action i {
  color: #A3C2D6;
  cursor: pointer;
}

.subjects .subjects_container .subjects_description-action .subjects_action i:hover {
  color: #9D1113 !important;
}

.subjects .subjects_container .subjects_description-action .subjects_description {
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.subjects .subjects_container .subjects_description-action .subjects_description .subjects_teacher {
  color: #6D8798;
  font-size: 14px;
}

.courses .courses_container .courses_description {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 17px;
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 22px;
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

.no-data .no-data_img {
  max-width: 118px;
}

.no-data .no-data_title {
  color: #4A687B;
  font-size: 15px;
  font-weight: 600;
}

.no-data .no-data_description {
  color: #6D8798;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.header {
  height: 41px;
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 34px;
}

.header .header_description {
  color: black;
  font-size: 18px;
  font-weight: 600;
}