@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#root .App {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

#root .menu-bar {
  width: Calc(100% - 55px);
  background: #fff;
  height: 80px;
  margin: 0 auto;
  border-radius: 0px 0px 16px 16px;
  border: 1px solid #E6E8EC;
  border-top: none;
  box-shadow: 0px 1px 2px 0px #1018280f;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

#root .menu-bar .menu-bar_actions {
  display: flex;
  align-items: center;
  height: 100%;
}

#root .menu-bar .menu-bar_actions .menu-bar_action {
  color: #222222;
  font-size: 16px;
  height: calc(100% - 30px);
  min-width: 90px;
  text-align: center;
  padding-top: 30px;
  text-decoration: none;
  position: relative;
}

#root .menu-bar .menu-bar_actions .menu-bar_action:hover {
  background: linear-gradient(52deg, #b52d2d26, #30706e00);
  cursor: pointer;
}

#root .menu-bar .menu-bar_actions .menu-bar_action-select {
  font-weight: 600;
  border-bottom: 2px solid #c40f11;
  padding-top: 31px !important;
  height: calc(100% - 33px) !important;
}

#root .menu-bar .menu-bar_actions .menu-bar_action:not(:last-child) {
  margin-right: 20px;
}

.floating-menu {
  position: absolute;
  min-width: 188px;
  min-height: 171px;
  border-radius: 4px;
  border: 1px solid #E6E8EC;
  background: #FFF;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.40);
  left: 0;
  top: 60px;
  z-index: 2;
}

.floating-menu .floating-menu_item {
  min-width: 188px !important;
  height: 22px;
  display: inline-block;
  color: #353945;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  border-bottom: 1px solid #E4E4E4;
  text-align: initial;
  text-decoration: none;
  padding: 18px 15px;
}

.floating-menu .floating-menu_item:hover {
  background: linear-gradient(52deg, #b52d2d26, #30706e00);
}

.page {
  padding: 42px 20px 20px 20px;
}

.chip {
  border-radius: 13px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  width: max-content;
  padding: 3px 10px;
  color: #6D8798;
  font-size: 14px;
  font-weight: 400;
}

.schedules .schedules_tabs {
  display: flex;
  height: 24px;
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 10px;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.schedules .schedules_tabs .schedules_tab {
  cursor: pointer;
}

.schedules .schedules_tabs .schedules_tab-selected {
  color: #9D1113;
  font-weight: 700;
}

.schedules .schedules_tabs .schedules_tab:not(:last-child) {
  margin-right: 15px;
}

.subjects {
  border-radius: 8px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  padding: 20px;
  min-width: 394px;
  width: max-content;
}

.subjects .subjects_container .subjects_description-action {
  display: flex;
  justify-content: space-between;
}

.subjects .subjects_container .subjects_description-action .subjects_action i {
  color: #A3C2D6;
  cursor: pointer;
}

.subjects .subjects_container .subjects_description-action .subjects_action i:hover {
  color: #9D1113 !important;
}

.subjects .subjects_container .subjects_description-action .subjects_description {
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.subjects .subjects_container .subjects_description-action .subjects_description .subjects_teacher {
  color: #6D8798;
  font-size: 14px;
}

.courses .courses_container .courses_description {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 17px;
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 22px;
}

.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
}

.no-data .no-data_img {
  max-width: 118px;
}

.no-data .no-data_title {
  color: #4A687B;
  font-size: 15px;
  font-weight: 600;
}

.no-data .no-data_description {
  color: #6D8798;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.header {
  height: 41px;
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 34px;
}

.header .header_description {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.container-custom-dropdown {
  position: relative;
  display: inline-block !important;
  width: 100%;
  margin-bottom: 23px;
}

.container-custom-dropdown-disabled {
  opacity: 0.5;
}

.container-custom-dropdown .placeholder {
  color: #4A687B;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.container-custom-dropdown.open .dropdown-options {
  display: block;
}

.container-custom-dropdown .arrow-icon {
  position: absolute;
  right: 9px;
  top: 11px;
  color: #BDD4E6;
}

.container-custom-dropdown .arrow-icon-active {
  display: block;
}

.container-custom-dropdown .arrow-icon-inactive {
  display: none;
}

.dropdown-header-disabled {
  cursor: context-menu !important;
  border: 1px solid #BDD4E6 !important;
}

.dropdown-header {
  border-radius: 8px;
  border: 1px solid #BDD4E6;
  background: #FFF;
  padding: 10px 12px;
  color: #6D8798;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  height: 23px;
}

.dropdown-header:hover {
  border: 1px solid #005EB8;
  cursor: pointer;
}

.dropdown-header input {
  width: calc(100% - 25px);
  border: none;
  outline: none;
  color: #6D8798;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.options-selected {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
  margin-bottom: 6px;
}

.options-selected .option {
  border: 1px solid #bdd4e6;
  padding: 5px 10px 5px 10px;
  border-radius: 16px;
  color: #6D8798;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-right: 8px;
  margin-bottom: 5px;
}

.options-selected .option i {
  margin-left: 5px;
  color: #6d8798a3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.options-selected .option .icon-close-item {
  cursor: pointer;
}

.options-selected .option .icon-close-item:hover i {
  background: #005eb8 !important;
  color: #fff !important;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
  z-index: 1;
}

.dropdown-options-multi li {
  display: flex;
  align-items: center;
}

.dropdown-options-multi {
  top: 73px;
  border-radius: 8px 8px 8px 8px !important;
}

.dropdown-options-multi li .bi-ban {
  color: #e26262;
  margin-right: 15px;
}

.dropdown-options-multi input {
  margin-right: 10px;
}

.dropdown-options li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #6D8798;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.dropdown-options li:hover {
  background: linear-gradient(52deg, #b52d2d26, #30706e00);
}

.dropdown-options li.option-selected {
  background-color: #005eb8;
  color: #fff;
}

.container-input-default {
  width: 100%;
  margin-bottom: 23px;
}

.container-input-default-disabled {
  opacity: 0.5;
}

.container-input-default .container-input-default_placeholder {
  color: #4A687B;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.container-input-default .container-input-default_input {
  color: #6D8798;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #BDD4E6;
  background: #FFF;
  height: 25px;
  padding: 10px 12px;
  width: calc(100% - 26px);
}

.container-input-default .container-input-default_input:focus {
  outline: 1px solid #005EB8;
}

.container_description {
  max-width: 520px;
}

.container_disciplines {
  max-width: 397px;
}

.container-hour {
  max-width: 161px;
}

.button-default {
  padding: 12px 20px;
  align-items: center;
  border-radius: 100px;
  background: #9D1113;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.button-default:hover {
  opacity: 0.8;
}

.button-default:disabled {
  opacity: 0.6;
  cursor: context-menu;
}

.container-range-time {
  display: flex;
  justify-content: space-between;
  max-width: 231px;
}

.container-range-time .container-input-default:not(:last-child) {
  margin-right: 31px;
}

.loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff85;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
}

.loading .loading_logo {
  animation: loader 1.5s infinite;
  position: absolute;
  width: 140px;
  height: 140px;
  left: calc(50% - (140px / 2));
  top: calc(50% - (140px / 2));
}

@keyframes loader {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.alert {
  width: 440px;
  min-height: 21px;
  border-radius: 3px;
  font-size: 16px;
  position: absolute;
  right: 0px;
  top: 20px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

.alert-success {
  background: #E7F6D5;
  color: #689F38;
}

.alert-failure {
  background: #FFDDE0;
  color: #D32F2F;
}

.alert-alert {
  background: #FFFCDD;
  color: #D3882F;
}

.collection-editor {
  max-width: 745px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #BDD4E6;
  background: #FFF;
  min-height: 100px;
}

.collection-editor .collection-editor_header {
  max-width: calc(747px - 38px);
  width: 100%;
  min-height: 51px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px 7px 0px 0px;
  background: #9D1113;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}

.collection-editor .collection-editor_header i {
  &:not(:last-child) {
    margin-right: 10px;
  }
  
  &:last-child {
    font-size: 21px;
  }

  cursor: pointer;
}

.collection-editor .collection-editor_header i:hover {
  opacity: 0.8;
}